<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.android_czy_java.beautytips">

    <application>
        <activity
            android:name=".listView.view.MainActivity"
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cosmetique.com"
                    android:scheme="http" />
                <data
                    android:host="cosmetique.com"
                    android:scheme="https" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".detail.view.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".listView.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>



        <activity android:name=".ingredient.view.IngredientActivity" />


    </application>

</manifest>
