<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.android_czy_java.beautytips">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/withoutback" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/pink300" />

        <activity
            android:name=".listView.view.MainActivity"
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".detail.view.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".listView.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".newTip.view.NewTipActivity"
            android:label="@string/title_activity_new_tip"
            android:launchMode="singleTop"
            android:parentActivityName=".listView.view.MainActivity" />
        <activity android:name=".welcome.WelcomeActivity" />


        <service
            android:name=".sync.SyncJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity android:name=".ingredient.view.IngredientActivity"></activity>
    </application>

</manifest>